<div id=my_contact>
<div id="name_twitter">
  <p class="alignleft">{{ "Shin Alexandre Koseki<br>PhD, MArch" }}</p>
  <p class="alignright"><a href={{ "https://twitter.com/sjinko" }} target="_blank">{{ "@sjinko" }}</a></p>
</div>
<div style="clear: both;"></div>

<span class="a"></span>

<div id="phone_email">
  <p class="alignleft"><a class={{ "mobilesOnly" }} href={{ "tel:+41766158598>+41 76 615 85 98" }}</a></p>
  <p class="alignright"><a href={{ "mailto:info@shinkoseki.com" }}>{{ "info@" }}</a></p>
</div>
<div style="clear: both;"></div>
<span class="b"></span>

<hr>
</div>

