@font-face {
  font-family: "myfont";
  src: url("../fonts/NB.otf");
}

body{
  font-family: "myfont";
  font-size: 22px;
}

span.a {
  display: inline-block;
  height: 200px;
}

span.b{
  display: inline-block;
  height: 50px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.current {
  color: green;
}

.navigation-header { 
  color: black;
  font-size:20px;
}

.contact-info { 
   color: black;
   font-size:20px;
}

a:visited {
  color: black;
}

a:link {
  color: blue;
  text-decoration: none; 
}

a:hover {
  color: red;
  text-decoration: underline;
}

/** Navbar **/
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: white;
}

/* Navbar links */
.topnav a {
  float: left;
  color: black;
  text-align: right;
  padding: 14px;
  padding-left: 0px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  color: grey;
}