---
layout: default
---
<div class=project>
	<span class="b"></span>
	<img class=image src="{{ page.featured_img }}" loading="lazy" alt={{ page.alt }}>
	<p class=note>© {{ page.img_credit }}</p>
	<h1>{{ page.title }}</h1>
	<h2>{{ page.subtitle }}</h2>
		{{ content }}
		
	<div class=info>
		<hr>
		<h4>Course: </h4>
		<p>{{ page.title }} {{ page.subtitle }}</p>
		{% if page.institutions %}
			<h4>Host institutions: </h4>
			<p>{{ page.institutions | array_to_sentence_string }}</p>
		{% endif %}
		<h4>Year: </h4>
		<p>{{ page.year }}</p>
		{% if page.direction %}
			<h4>Main lecturers: </h4>
			<p>{{ page.direction | array_to_sentence_string }}</p>
		{% endif %}
		{% if page.guest_lecturers %}
			<h4>Guest lecturers: </h4>
			<p>{{ page.guest_lecturers | array_to_sentence_string }}</p>
		{% endif %}
		{% if page.assistants %}
			<h4>Assistants: </h4>
			<p>{{ page.assistants | array_to_sentence_string }}</p>
		{% endif %}
		{% if page.participants_universities %}
			<h4>With the participation of: </h4>
			<p>{{ page.participants_universities | array_to_sentence_string }}</p>
		{% endif %}
	</div>
</div>